.body {
  background-color: #121212;
  color: white;
}
/* LOADING STYLING */
.loadingDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* VIDEO BACKGROUND STYLING */

.videoBackground {
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  overflow-y: hidden;
}

/* FIRST SECTION STYLING */
.firstSection {
  overflow-x: hidden;
  overflow-y: hidden;

  height: 50vw;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
}

/* FIRST SECTION COMPONENTS STYLING */
.titleOfFirstSection {
  font-weight: bolder;
  font-size: 50px;
  color: white;
}
.DescriptionOfFirstSection {
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 20px 0px 30px 0px;
  color: white;
}
.buttonOfFirstSection {
  padding: 5px 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(57, 177, 57);
  font-weight: 600;
}

/* FIRST SECTION RESPONSIVENESS */
@media (max-width: 990px) {
  .firstSection {
    height: 500px;
  }
  .titleOfFirstSection {
    font-size: 40px;
    text-align: center;
  }
}

/*/////////////////////////////////////////:*/

/* SECOND SECTION STYLING */
.secondSection {
  overflow-x: hidden;
  background-color: black;
  padding: 180px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* FIRST COL OF SECOND SECTION STYLING */

.firstCol {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.littleDescriptionSecondSection {
  font-weight: bolder;
  color: rgb(57, 177, 57);
}
.titleOfSecondSection {
  color: white;
  font-size: 50px;
  font-weight: bolder;
}
.descriptionOfSecondSection {
  color: white;
}

/* SECOND SECTION RESPONSIVENESS */
@media (max-width: 1024px) {
  .titleOfSecondSection {
    font-size: 40px;
  }
  .firstCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/*/////////////////////////////////////////:*/

/* THIRD SECTION STYLING */
.thirdSection {
  overflow-x: hidden;
  padding: 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* COMPONENTS OF THIRD SECTION STYLING */
.titleOfThirdSection {
  color: black;
}
.descriptionOfThirdSection {
  color: black;
}
.buttonOfThirdSection {
  padding: 10px 20px;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
}

.containerOfFirstColThirdSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* THIRD SECTION RESPONSIVENESS */
@media (max-width: 1024px) {
  .descriptionOfThirdSection {
    text-align: center;
  }
}

/*/////////////////////////////////////////:*/

/* FOURTH SECTION STYLING */
.fourthSection {
  background-color: black;
  padding: 150px 50px;
  text-align: center;
}
/* COMPONENTS OF FOURTH SECTION STYLING */

.titleOfFourthSection {
  color: white;
  font-weight: bolder;
  margin-bottom: 70px;
  font-size: 50px;
}
.allTheServicesDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* FOURTH SECTION RESPONSIVENESS */
@media (max-width: 400px) {
  .titleOfFourthSection {
    font-size: 40px;
  }
}
/*/////////////////////////////////////////:*/

/* FIFTH SECTION STYLING */
.fifthSection {
  padding: 150px 0px;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* COMPONENTS OF FIFTH SECTION STYLING */
.allTheFifthTexts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.titleOfFifthSection {
  color: black;
  font-size: 50px;
  font-weight: bolder;
}
.buttonOfFifthSection {
  color: white;
  width: fit-content;
  font-weight: 300;
}
/* FIFTH SECTION RESPONSIVENESS */
@media (max-width: 991px) {
  .allTheFifthTexts {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
