.body {
  background-color: #121212;
  color: white;
}
/* FIRST SECTION STYLING */
.firstSection {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.videoBackground {
  width: 100%;
  z-index: -1;
  position: absolute;
}
/* FIRST SECTION COMPONENTS STYLING */
.titleOfFirstSection {
  font-weight: bolder;
  font-size: 4vw;
  color: white;
}
.DescriptionOfFirstSection {
  text-align: center;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 20px;
  margin: 20px 0px 30px 0px;
  color: white;
}
.buttonOfFirstSection {
  padding: 5px 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: rgb(57, 177, 57);
  font-weight: 600;
}
/* SECOND SECTION STYLING */
.secondSection {
  overflow-x: hidden;
  background-color: black;
  padding: 180px 0px;
}
/* FIRST COL OF SECOND SECTION STYLING */
.containerOfFirstCol {
  display: block;
  margin: auto 0px auto 30%;
  width: 500px;
  margin-top: 5%;
}
.firstCol {
  width: 100%;
  justify-content: end;
  align-items: flex-end;
}
.littleDescriptionSecondSection {
  font-weight: bolder;
  color: rgb(57, 177, 57);
}
.titleOfSecondSection {
  color: white;
  font-size: 50px;
  font-weight: bolder;
}
.descriptionOfSecondSection {
  color: white;
}
/* SECOND COL OF SECOND SECTION STYLING  */

.containerOfAnimation {
  padding-right: 15%;
}

/* THIRD SECTION STYLING */
.thirdSection {
  overflow-x: hidden;
  padding: 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* COMPONENTS OF THIRD SECTION STYLING */
.titleOfThirdSection {
  color: black;
}
.descriptionOfThirdSection {
  color: black;
}
.buttonOfThirdSection {
  padding: 10px 20px;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 20px;
}
.thirdSectionAnimationContainer {
  padding-left: 50px;
}
.containerOfFirstColThirdSection {
  margin-left: 0px;
}
/* FOURTH SECTION STYLING */
.fourthSection {
  background-color: black;
  padding: 150px 50px;
  text-align: center;
}
/* COMPONENTS OF FOURTH SECTION STYLING */

.titleOfFourthSection {
  color: white;
  font-weight: bolder;
  margin-bottom: 70px;
  font-size: 50px;
}
.allTheServicesDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FIFTH SECTION STYLING */
.fifthSection {
  padding: 150px 0px;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* COMPONENTS OF FIFTH SECTION STYLING */
.allTheFifthTexts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.titleOfFifthSection {
  color: black;
  font-size: 50px;
  font-weight: bolder;
}
.buttonOfFifthSection {
  color: white;
  width: fit-content;
  font-weight: 300;
}
