/* ALL THE NAVBAR */
.allTheNavBar {
  overflow-x: hidden;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

/* BRAND NAME */
.brandNameContainer {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.brandNameNavBar {
  font-size: 30px;
  font-weight: bolder;
  color: white;
}
/* WIDGET STYLING */
.widgetContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.widgetName {
  font-size: 15px;
  color: white;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
/* ACTIVE WIDGET STYLING */
.active {
  text-decoration: none;
  border-bottom: 3px solid rgb(57, 177, 57);
  border-radius: 2px;
}
.active:hover {
  color: white;
}
/* BUTTON STYLING */
.signInContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signInButtonNavBar {
  padding: 5px 18px;
  background-color: rgb(57, 177, 57);
  border-radius: 20px;
  outline: none;
  color: black;
  font-weight: 500;
  border: none;
}

/* LINK DECORATION REMOVING */
.noLink {
  text-decoration: none;
}
